/* DESKTOP DESIGNS*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Flexo-Regular;
    src: url("./fonts/Flexo-Regular.ttf");
}

body::-webkit-scrollbar {
    display: none;
}

.app {
    font-family: Flexo-Regular, arial;
    display: flex;
    flex-direction: column;
}

.header-title {
    cursor: pointer;
    width: 300px;
    margin: 1.25% auto;
    text-align: center;
    font-size: 2.15rem;
}

.search-bar-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.search-bar {
    border-radius: 3%;
    border-width: 0;
    border-color: white;
    background-color: #F05365;
    color: white;
    height: 45px;
    width: 275px;
    padding: 0% 0.5%;
    font-size: 1.15rem;
}

.search-bar[text="text"] {
    color: white;
    background-color: white;
}

.search-bar::placeholder {
    color: white;
}

.search-bar:focus {
    outline-color: #F05365;
}

.pokedex-container {
    height: 75vh;
    overflow: scroll;
    margin-bottom: 1%;
}

.pokedex-container::-webkit-scrollbar {
    display: none;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: .5% 0%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.pokedex::-webkit-scrollbar {
    display: none;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-sprite {
    background-color: #f2f2f2;
    height: auto;
    width: 80%;
}

.number {
    margin-top: 1%;
    text-align: left;
}

a:link {
    text-decoration: none;
    color: black;
}


a:visited {
    text-decoration: none;
    color: black;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.pokemon-name {
    font-size: 1.7rem;
}

.multi-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin-top: 1%;
}

.test-type {
    padding: 5px 20px;
    width: 50px;
    border-radius: 4%;
    margin-top: 1%;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1%;
}

.buttons button {
    background-color: #F05365;
    border-width: 0;
    color: ghostwhite;
    width: 14%;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 4%;
}

.buttons button:hover {
    cursor: pointer;
}

.loading {
    text-align: center;
}

/* LAPTOP VIEWPORT */

@media only screen and (min-width: 1001px) and (max-width: 1500px) {

.header-title {
    cursor: pointer;
    width: 300px;
    margin: 1% auto 1% auto;
    text-align: center;
    font-size: 2.15rem;
}

    .search-bar {
    border-radius: 3%;
    border-width: 0;
    border-color: white;
    background-color: #F05365;
    color: white;
    height: 45px;
    width: 275px;
    padding: 0% 0.5%;
    font-size: 1.15rem;
    }

    .pokedex-container {
        height: 68vh;
    }

    .pokemon-name {
        margin: -2% 0%;
    }
}

/* TABLET VIEWPORT */

@media only screen and (min-width: 501px) and (max-width: 1000px) {
    .header-title {
        cursor: pointer;
        width: 375px;
        margin: 2.5% auto 1% auto;
        text-align: center;
        font-size: 2.75rem;
    }

    .search-bar {
        border-radius: 3%;
        border-width: 0;
        border-color: white;
        background-color: #F05365;
        color: white;
        height: 65px;
        width: 300px;
        padding: 0% 0% 0% 3%;
        margin-top: 1%;
        margin-bottom: 3%;
        font-size: 1.5rem;
    }

    .pokedex-container {
        margin-bottom: 4%;
        height: 71vh;
    }

    .pokedex {
        grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    }

    .number {
        font-size: .9rem;
    }

    .pokemon-name {
        font-size: 1.6rem;
    }

    .test-type {
        padding: 0px 2px;
        width: 90px;
        font-size: 1.25rem;
    }

    .buttons button {
        width: 30%;
        height: 50px;
        margin-bottom: 1%;
    }

}

/* MOBILE DESIGNS */

@media only screen and (max-width: 500px) {

    .header-title {
    cursor: pointer;
    width: 300px;
    margin: 1.75% auto 1.25% auto;
    text-align: center;
    font-size: 2.15rem;
    }
    .pokedex-container {
        margin-bottom: 4%;
        height: 70vh;
    }

    .pokedex {
        grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    }

    .number {
        font-size: .6rem;
    }

    .pokemon-name {
        font-size: .9rem;
    }

    .test-type {
        padding: 0px 3px;
        width: 42px;
        font-size: .7rem;
    }

    .buttons button {
        width: 30%;
        height: 50px;
        margin-bottom: 1%;
    }

    .search-bar {
        border-radius: 3%;
        border-width: 0;
        border-color: white;
        background-color: #F05365;
        color: white;
        height: 35px;
        width: 160px;
        padding: 0% 0% 0% 3%;
        margin-top: 1%;
        margin-bottom: 3%;
        font-size: .9rem;
    }

}